/2023-01-10 20-42-55.mp4
/DS_4011_ Prj_Wire_RoutingLinkedList.pdf
/DS_L5_1_SinglyLinkedList_part1.pdf
/DS_L5_2_SinglyLinkedList_part2.pdf
/Project.zip
/__pycache__
/classes.py
/design.py
/design.ui
/y.py